APP_PORT=
APP_DEBUG=
APP_RELOAD=
SECRET_KEY=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=
MYSQL_HOST_LOCAL=
MYSQL_PORT_LOCAL=
MYSQL_HOST_DOCKER=
MYSQL_PORT_DOCKER=
DEFAULT_TRANSFER_PIN=
TRANSFER_MIN_AMOUNT_UAH=
TRANSFER_MAX_AMOUNT_UAH=
TRANSFER_DAILY_LIMIT_UAH=
